<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036852672581-83knfao5aieij9fmlsm4itv34cneja34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036852672581-83knfao5aieij9fmlsm4itv34cneja34</string>
	<key>API_KEY</key>
	<string>AIzaSyBRB9z4d5_PCxY_BHmbZH6lgrGo5vCqWo8</string>
	<key>GCM_SENDER_ID</key>
	<string>1036852672581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eFecta</string>
	<key>PROJECT_ID</key>
	<string>pollas-play</string>
	<key>STORAGE_BUCKET</key>
	<string>pollas-play.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036852672581:ios:ca88224dfd56ffd67e4b2c</string>
</dict>
</plist>